#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

 / {
     keymap {
         compatible = "zmk,keymap";

         layer_0 {
             bindings = <&kp_ESC &kp_Q &kp_W &kp_E &kp_R &kp_G &kp_DEL>,
                        <&kp_LSHFT &kp_A &kp_S &kp_D &kp_F &kp_M &kp_ENTER>,
                        <&kp_LCTRL &kp_LGUI &kp_TAB &kp_SPACE &mo_3>;
         };

         layer_1 {
             bindings = <&trans &kp_N1 &kp_N2 &kp_N3 &kp_N4 &kp_N5 &trans>,
                        <&kp_DOT &kp_N6 &kp_N7 &kp_N8 &kp_N9 &kp_N0 &trans>,
                        <&KP_ASTERISK &kp_MINUS &KP_PLUS &trans &trans>;
         };

         layer_2 {
             bindings = <&trans &bt BT_SEL_0 &bt BT_SEL_1 &bt BT_SEL_2 &trans &trans &trans>,
                        <&trans &trans &trans &trans &trans &trans &trans>,
                        <&trans &trans &trans &trans &trans>;
         };

         layer_3 {
             bindings = <&kp_ESC &tg_2 &tg_3 &trans &trans &trans &trans>,
                        <&df_2 &trans &trans &trans &trans &trans &trans>,
                        <&trans &kp_B &trans &kp_BSPC &trans>;
         };
     };
 };
